.clear-after:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

* html .clear-after {
	height: 1%;
}

* + html .clear-after {
	height: 1%;
}

.obscured {
	left: -999999px;
	position: absolute;
	top: -999999px;
}

.obscured:focus {
	left: auto;
	top: auto;
}

nav,
article,
figure,
figcaption {
	display: block;
}

body {
	background: #F2F2F2;
	color: #333;
	font: 16px/1.4 "Solex Medium", "Myriad Web", "Myriad Pro", Calibri, Arial, sans-serif;
	margin: 0;
}

a {
	color: #33F;
}

h1 {
	font-size: 2em;
	margin: 0.25em 0;
}

h2 {
	font-size: 1.5em;
	font-style: italic;
	margin: 0.5em 0;
}

dl {
	margin: 1em 0;
}

dt {
	margin: 0.25em 0;
}

p {
	margin: 0.75em 0;
}

a img {
	border: 0;
}

article {
	margin: 0 0 2em;
}

pre {
	background: #EEE;
	border: 1px dashed #CCC;
	padding: 0.75em 1em;
}

code,
pre {
	font-size: 90%;
}

#main-document {
	background: #F7F7F7;
	border: 1px solid #CCC;
	margin: 2em auto;
	padding: 20px;
	position: relative;
	width: 920px;
}

#skip-to-main-content:focus {
	right: 20px;
}

#page-title {
	margin: 0 0 0.5em;
}

#navigation ul {
	font-size: 90%;
	list-style: none;
	margin: 0 -0.5em;
	padding: 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	display: block;
	padding: 0.5em;
}

#iepp_figure figure {
	width: 40%;
}

#iepp_figure figure {
	background: #CCC;
	border: 3px solid #999;
	display: block;
	float: left;
	margin: 1em 2em;
	padding: 1em 0.25em;
	text-align: center;
}

figure img {
	border: 2px solid #333;
	display: inline-block;
}

* html figure img {
	display: inline;
	display: inline-block;
	zoom: 1;
}

#content-info {
	font-size: 90%;
	text-align: right;
}

#validations {
	display: none;
}